* {
  margin: 0;
}
.background--white {
  background-color: white;
}

.full--width {
  width: 100%;
}

.header--button {
  margin-right: 10px;
  padding: 3px 2px;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  color: black;
}
.header--button:hover, .header--button.selected {
  border-bottom-color: red;
}